[Desktop Entry]
Version=1.0
Exec=xfce4-appfinder
Icon=org.xfce.appfinder
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;X-XFCE;
Name=Application Finder
Name[cs]=Vyhledávač aplikací
Comment=Find and launch applications installed on your system
Comment[cs]=Umožňuje najít a spouštět aplikace nainstalované v systému.
Keywords=program;applications;bookmarks;
Keywords[cs]=program;aplikace;záložky;
X-XFCE-Source=file:///usr/share/applications/xfce4-appfinder.desktop
